.footer{
    height: auto;
    width: 100vw;
    background-color: black;
    color: white;
}

.footer-details{
    height: 30vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.contact{
    color: white;
}

li{
    list-style: none;
    padding: 0.15rem 0;
}

.about{
    color: white;
}

.footer h3{
    text-align: center;
    margin-bottom: 1rem;
}