.intro{
    height: 25vh;
    width: 100vw;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px 0 rgb(219, 217, 217);

    
}

.intro h1{
    margin: auto;
}

.intro h3{
    padding-bottom: 1rem;
}