.recent-card{
    width: 95%;
    margin: 1rem 0.3rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.1rem;
    box-shadow: 0 10px 10px 0 rgb(219, 217, 217);
    border-radius:8px;
    padding-bottom: 1rem;
}

.recent-card img{
    height: 50px;
    width: 50px;
    border-radius: 3px;
}